@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800;
}

a {
  @apply underline text-indigo-600 hover:text-indigo-800;
}

/* 导航栏链接不显示下划线，且颜色有丝滑过渡 */
.navbar a {
  text-decoration: none;
  color: #1f2937;
  /* text-gray-800 */
  transition: color 0.2s ease-in-out;
}

.navbar a:hover {
  color: #4f46e5;
  /* hover indigo-600 */
}